<h2>Edit Hotel</h2>

<% if @errors.present? %>
  <% @errors.each do |error| %>
    <p> <%= error %> </p>
  <% end %>
<% end %>

<%= form_tag '/hotels/' + @hotel['id'].to_s, method: :put do |f| %>
  <%= text_field_tag 'name', @hotel['name'], { placeholder: 'Enter Name', class: 'form-control' } %> <br>
  <%= text_field_tag 'address', @hotel['address'], { placeholder: 'Enter Address', class: 'form-control' } %> <br>
  <%= text_field_tag 'star_rating', @hotel['star_rating'], { placeholder: 'Enter Rating 0 - 5', class: 'form-control' } %> <br>
  <%= select_tag 'accomodation_type_id', options_for_select(@accomodation_types.collect {|p| [ p['name'], p['id'] ] }, @hotel['accomodation_type']['id']), include_blank: 'Choose Type', class: 'form-control' %> <br>

  <br>
  <%= submit_tag 'Update', class: 'btn btn-success'  %>
<% end %>
